
## <summary>policy for azus</summary>


########################################
## <summary>
##	Transition to azus.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`azus_domtrans',`
	gen_require(`
		type azus_t, azus_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, azus_exec_t, azus_t)
')


########################################
## <summary>
##	Execute azus server in the azus domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`azus_initrc_domtrans',`
	gen_require(`
		type azus_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, azus_initrc_exec_t)
')


########################################
## <summary>
##	Search azus lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`azus_search_lib',`
	gen_require(`
		type azus_var_lib_t;
	')

	allow $1 azus_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read azus lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`azus_read_lib_files',`
	gen_require(`
		type azus_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, azus_var_lib_t, azus_var_lib_t)
')

########################################
## <summary>
##	Manage azus lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`azus_manage_lib_files',`
	gen_require(`
		type azus_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, azus_var_lib_t, azus_var_lib_t)
')

########################################
## <summary>
##	Manage azus lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`azus_manage_lib_dirs',`
	gen_require(`
		type azus_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, azus_var_lib_t, azus_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a azus environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`azus_admin',`
	gen_require(`
		type azus_t;
		type azus_initrc_exec_t;
		type azus_var_lib_t;
	')

	allow $1 azus_t:process { ptrace signal_perms };
	ps_process_pattern($1, azus_t)

	azus_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 azus_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, azus_var_lib_t)

')

